<div class="col s12 m7">
  <div class="card horizontal">
    <div class="card-image">
        <a href={{threadData.data.url}}>
          <img src={{threadData.data.thumbnail}} alt="Link">
        </a>
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>{{threadData.data.title}}</p>
      </div>
      <div class="card-action">
        <a href={{threadData.data.permalink}}>{{threadData.data.num_comments}} Comments </a>
        <a href={{threadData.data.subreddit}}>r/{{threadData.data.subreddit}} </a>

      </div>
    </div>
  </div>
</div>