

<header>
    <!-- fixed navigation bar Web Version -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
              <a (click)="onFeedClicked('')"
              href="localhost:1337"
              class="brand-logo center">
                CC
              </a>
                <a  data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down">
                  <li>  <a href='https://www.reddit.com/api/v1/authorize?client_id=XcmF_qHAsfrorA&state=asdflkdsfasdfl&response_type=code&redirect_uri=http://localhost:1337&duration=temporary&scope=read mysubreddits subscribe'>Sign Into Reddit</a></li>
                  <li><a class="dropdown-button"  data-activates="web-dropdown">Popular Subreddits<i class="material-icons right"></i></a></li>
                  <li><a class="dropdown-button"  data-activates="web-dropdown-usersubs">My Subreddits<i class="material-icons right"></i></a></li>
                  <li><a class="dropdown-button"  data-activates="web-choose-feed">Feeds<i class="material-icons right"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- mobile menu side nav -->
    <ul class="side-nav" id="mobile-demo">
      <li>  <a href='https://www.reddit.com/api/v1/authorize?client_id=XcmF_qHAsfrorA&state=asdflkdsfasdfl&response_type=code&redirect_uri=http://localhost:1337&duration=temporary&scope=read mysubreddits subscribe'>sign into reddit</a></li>
      <li><a class="dropdown-button"  data-activates="mobile-dropdown">popular subreddits<i class="material-icons right"></i></a></li>
      <li><a class="dropdown-button"  data-activates="mobile-dropdown-usersubs">my subreddits<i class="material-icons right"></i></a></li>
      <li><a class="dropdown-button"  data-activates="mobile-choose-feed">Feeds<i class="material-icons right"></i></a></li>
    </ul>

    <!-- subreddit dropdowns, issue: duplicate versions needed because of web-mobile css bug
          temporary fix for functionality but bad for SEO -->

    <!--  popular subreddits dropdown items for mobile version -->
    <ul id="mobile-dropdown" class="dropdown-content" >
      <li>Click + to subscribe!</li>
      <li *ngFor="let subreddit of popularSubreddits; let i = index">
        <div (click)="onFeedClicked(subreddit.data.url)">
          {{ subreddit.data.url }}
          <div [attr.data]="subreddit.data.name"
          (click)="subscribe(subreddit.data.name, i, subreddit)"
          (click)="onFeedClicked('')" class="add">
            +
          </div>
        </div>
      </li>
    </ul>
    <!--  popular subreddits dropdown items for web version -->
    <ul id="web-dropdown" class="dropdown-content" >
      <li>Click + to subscribe!</li>
      <li *ngFor="let subreddit of popularSubreddits; let i = index">
        <div (click)="onFeedClicked(subreddit.data.url)">
          {{ subreddit.data.url }}
        </div>
        <div [attr.data]="subreddit.data.name"
        (click)="subscribe(subreddit.data.name, i, subreddit)"
        (click)="onFeedClicked('')" class="add">
          +
        </div>
      </li>
    </ul>
    <!--  user's subreddits dropdown items for mobile version -->
    <ul id="mobile-dropdown-usersubs" class="dropdown-content" >
      <li>Click &mdash; to unsubscribe!</li>
      <li *ngFor="let subreddit of userSubreddits; let i = index">
        <div (click)="onFeedClicked(subreddit.data.url)">
          {{ subreddit.data.url }}
          <div [attr.data]="subreddit.data.name"
          (click)="unsubscribe(subreddit.data.name, i)"
          (click)="onFeedClicked('')"
          class="remove" >
            &mdash;
          </div>
        </div>
      </li>
    </ul>
    <!--  users's subreddits dropdown items for web version -->
    <ul id="web-dropdown-usersubs" class="dropdown-content" >
      <li>Click &mdash; to unsubscribe!</li>
      <li *ngFor="let subreddit of userSubreddits; let i = index">
        <div (click)="onFeedClicked(subreddit.data.url)">
          {{ subreddit.data.url }}
          <div [attr.data]="subreddit.data.name"
          (click)="unsubscribe(subreddit.data.name, i)"
          (click)="onFeedClicked('')"
          class="remove">
            &mdash;
          </div>
        </div>
      </li>
    </ul>
    <!-- feed category dropdown items for web-->
    <ul id="web-choose-feed" class="dropdown-content">
      <li (click)="onFeedClicked('hot')">Hot</li>
      <li (click)="onFeedClicked('new')">New</li>
      <li (click)="onFeedClicked('')">Front</li>
    </ul>
    <!-- feed category dropdown items for mobile-->
    <ul id="mobile-choose-feed" class="dropdown-content">
      <li (click)="onFeedClicked('hot')">Hot</li>
      <li (click)="onFeedClicked('new')">New</li>
      <li (click)="onFeedClicked('')">Front</li>
    </ul>
</header>