

<header>
    <!-- fixed navigation bar -->
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper"> <a href="localhost:1337" class="brand-logo center">CC</a>
                <a  data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="left hide-on-med-and-down">
                  <li>  <a href='https://www.reddit.com/api/v1/authorize?client_id=XcmF_qHAsfrorA&state=asdflkdsfasdfl&response_type=code&redirect_uri=http://localhost:1337&duration=temporary&scope=read mysubreddits subscribe'>sign into reddit</a></li>
                  <li><a class="dropdown-button"  data-activates="web-dropdown">popular subreddits<i class="material-icons right"></i></a></li>
                  <li><a class="dropdown-button"  data-activates="web-dropdown-usersubs">my subreddits<i class="material-icons right"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- popular subreddit dropdowns duplicate versions needed because of web-mobile css bug -->
    <ul id="mobile-dropdown" class="dropdown-content" >
      <li>Click Subreddit to add!</li>
      <li *ngFor="let subreddit of popularSubreddits; let i = index">
      {{ subreddit.data.url }}
        <div [attr.data]="subreddit.data.name" (click)="subscribe(subreddit.data.name, i)" class="add"> +
        </div>
      </li>
    </ul>
    <ul id="web-dropdown" class="dropdown-content" >
      <li>Click Subreddit to add!</li>
      <li *ngFor="let subreddit of popularSubreddits; let i = index">
      {{ subreddit.data.url }}
        <div [attr.data]="subreddit.data.name" (click)="subscribe(subreddit.data.name, i)" class="add"> +
        </div>
      </li>
    </ul>
    <ul id="mobile-dropdown-usersubs" class="dropdown-content" >
      <li *ngFor="let subreddit of userSubreddits; let i = index">
      {{ subreddit.data.url }} <div [attr.data]="subreddit.data.name" (click)="unsubscribe(subreddit.data.name, i)" class="remove"> &mdash; </div>
      </li>
    </ul>
    <ul id="web-dropdown-usersubs" class="dropdown-content" >
      <li *ngFor="let subreddit of userSubreddits; let i = index">
      {{ subreddit.data.url }} <div [attr.data]="subreddit.data.name" (click)="unsubscribe(subreddit.data.name, i)" class="remove"> &mdash; </div>
      </li>
    </ul>

    <!-- mobile menu side nav -->
    <ul class="side-nav" id="mobile-demo">
      <li>  <a href='https://www.reddit.com/api/v1/authorize?client_id=XcmF_qHAsfrorA&state=asdflkdsfasdfl&response_type=code&redirect_uri=http://localhost:1337&duration=temporary&scope=read mysubreddits subscribe'>sign into reddit</a></li>
      <li><a class="dropdown-button"  data-activates="mobile-dropdown">popular subreddits<i class="material-icons right"></i></a></li>
      <li><a class="dropdown-button"  data-activates="mobile-dropdown-usersubs">my subreddits<i class="material-icons right"></i></a></li>
    </ul>
</header>