<div>
  <!-- Nav Bar Component -->
  <app-top-menu (feedChoosen)=(reloadFeed($event))></app-top-menu>
    <div class="container"
            infinite-scroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="500"
            (scrolled)="loadNextPage()">
      <!-- Thread Feed -->
      <div *ngIf="threadData">
        <div *ngFor="let thread of threadData">
          <app-thread (subredditChoosen)=(loadFeed($event)) [threadData]='thread'></app-thread>
        </div>
      </div>
      <div *ngIf="!loggedIn">
        <div>Please Sign Into Reddit</div>
      </div>
    </div>
</div>